.navBar {
  display: flex;
  justify-content: space-between;
  width: 100%;

  div {
    display: flex;

    a {
      padding: 0 1rem 0;

      &:hover {
        box-shadow: yellow 0 -2px 8px 0;
      }
    }
  }
}